<%  if(Object.entries(favoritesList).length > 1){ %>
    <rn:block id="preList"/>
    <% for(var i = 0; i < Object.entries(favoritesList).length; i++) { %>
    <% var answerId = Object.entries(favoritesList)[i][0] %>
    <% var documentId = Object.entries(favoritesList)[i][1].documentId %>
    <% var title = Object.entries(favoritesList)[i][1].title %>
    <rn:block id="preItem"/>
        <div class="rn_Favorite" id="<%= widgetInstanceID %>_<%= answerId %>">
            <rn:block id="preInfo"/>
                <div class="rn_Favorite_Info">
                    <rn:block id="summary">                
                        <a href="<%= answerUrl %><%= answerId %>" target="<%= target %>" ><%= title %></a>
                    </rn:block>
                    <rn:block id="documentId">
                        <span><%= labelDocId %> - <%= documentId %></span>
                    </rn:block>
                </div>
            <rn:block id="postInfo"/>
            <rn:block id="preActions"/>
            <div class="rn_Favorite_Actions">
                <rn:block id="preDelete"/>
                <button id="<%= answerId %>" class="rn_Favorite_Delete"><%= labelDeleteButton %></button>
                <rn:block id="postDelete"/>
            </div>
            <rn:block id="postActions"/>
        </div>
        <rn:block id="postItem"/>
    <% } %>
    <rn:block id="postList"/>
<% } %>

