<table id="<%= instanceID %>_Grid" class="yui3-datatable-table" role="grid">
    <caption><%= attrs.label_caption %></caption>
    <thead class="yui3-datatable-columns">
        <tr>
         <% for (var i = 0; i < data.fields.length; i++) { %>
                <% var headerClass = "yui3-datatable-header rn_GridColumn_" + (i+1) %>
                <th id="<%= instanceID %>_<%= data.fields[i].name %>" class="<%= headerClass %>" aria-labelledby="<%=instanceID%>_<%= data.fields[i].name %>" tabindex="0" scope="col">
                    <%= data.fields[i].label %>
                </th>
        <% } %>
        </tr>
    </thead>

    <tbody id="<%= instanceID %>_Body" class="yui3-datatable-data">
        <% for (var i = 0; i < Object.entries(favoritesList).length; i++) { %>
            <tr id="<%= instanceID %>_<%= favoritesList[i].answerId %>" role="row" class="<%= (i % 2 === 0) ? 'yui3-datatable-even' : 'yui3-datatable-odd' %>">
                <% for (var j = 0; j < data.fields.length; j++) { %>
                    <td role="gridcell" class="yui3-datatable-cell" headers="<%= instanceID %>_<%= data.fields[j].name %>">
                        <% if(data.fields[j].name === 'title') { %>
                            <a href="<%= answerUrl %><%= favoritesList[i].answerId %>" title="<%= favoritesList[i][data.fields[j].name] %>" target="<%= attrs.target %>" ><%= favoritesList[i][data.fields[j].name] %></a>
                        <% } else { %>
                            <%= favoritesList[i][data.fields[j].name] %>
                        <% }%>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
</table>
<div id="<%= instanceID %>_PaginateDiv" class="rn_PaginateDiv">
        <ul>
        <% if(showPrevious){ %>
            <li>
                <a class="rn_PreviousPage" data-rel="previous" rel="previous">
                    <span><%= attrs.label_back %></span>
                </a>
            </li>
        <% } %>
        <% if(showNext){ %>
            <li>
                <a class="rn_NextPage" data-rel="next" rel="next">
                    <span><%= attrs.label_forward %></span>
                </a>
            </li>
        <% } %>
        </ul>
    </div>
