<% if(relatedContent.length > 0){ %>
    <h2><%=relatedLabelHeading %></h2>
<% } %>

<ul class="rn_OverflowHidden">
<% var displayCount = 0; %>
<% for (var r=0; r < relatedContent.length; r++) { %>
    <% var displayTitle = truncateSize != 0 && relatedContent[r]['title'].length > truncateSize ? relatedContent[r]['title'].substring(0, truncateSize - 3) + '...' : relatedContent[r]['title']; %>
    <li class="rn_AnswerContentItem">
        <a title="<%=relatedContent[r]['title'] %>" href="<%='/app/' + answerViewUrl + '/a_id/' + relatedContent[r]['answerId'] + '/accessType/' + access_type %>" target="<%= target %>" ><%=displayTitle %></a>
    </li>
<% } %>
</ul>
